                [[meta_google_content]]
                [[google_signout]]
                
<br /><br />
       <div class='container'>
                <a class="blue-button [[edit_disabled]]" href="/edit.php" role="button">Edit Information</a>
                <a class="blue-button [[view_disabled]]" href="/list.php" role="button">List Members</a>
                <a class="blue-button [[manual_disabled]]" href="/manual.php" role="button">View Manual</a>
                <a class="red-button" href='#' onclick="signOutGoogle()" role="button">Log Out</a>
                <br /><br />
              </div>
